<% include ./partials/header %>

<div class="container">
    <header class="jumbotron">
        <div class="container">
            <h1>Landing Page</h1>
            <a href="/campgrounds" class="btn btn-primary btn-large">See Campgrounds</a>
        </div>
    </header>

    <p>Welcome to Yelpcamp!</p>

    <a href="/campgrounds">View all the campgrounds</a>
</div>

<% include ./partials/footer %>