<% include ./partials/header %>

<div class="container custom-form">

    <h1>Login</h1>

    <div class="row">
        <form action="/login" method="POST">
            <div class="form-group">
                <input class="form-control" type="text" placeholder="username", name="username" autofocus>
            </div>
            <div class="form-group">
                <input class="form-control" type="password" placeholder="password", name="password">
            </div>
            <button type="submit" class="btn btn-primary">Login</button>
        </form>
    </div>
    
    <a href="/campgrounds">Go Back</a>

</div>

<% include ./partials/footer %>